*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2015/03/30/12/31/trees-698456_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px black solid; */
}
.block{
    /* height: 30vh; */
    margin: 1% 10%;
    background-color: white;
    opacity: 0.9;
    padding: 1.5vh;
    border-radius: 2em;
}
.textStyle{
    font-size: 5vh;
    text-align: center;
}
.pictureSize{
    display: block;
    text-align: center;
    margin: 1% 0px;
}
.picture{
    height: 23vw;
}

.button{
    font-size: 3vw;
    /* margin: 0px 45%; */
    padding: 0.8vw;
    background-color: black;
    color: white;
}
#startB{
    position: absolute;
    margin: 7vh 45%;
}
#buttonQ1-1{
    position: absolute;
    margin-left: 25%;
    margin-top: 6%;
}
#buttonQ1-2{
    position: absolute;
    margin-left: 55%;
    margin-top: 6%;
}
.appear{
    display: none;
}
#restartB{
    position: absolute;
    margin: 8vh 45%;
}
.answer2{
    position: absolute;
    margin-left: 22%;
    margin-top: 7%;
}
.answer3{
    position: absolute;
    margin-top: 7%;
    margin-left: 18%;
}
.answer4{
    position: absolute;
    margin-top: 5%;
    margin-left: 4%;
}
.answer5{
    position: absolute;
    margin-left: 27%;
    margin-top: 6%;
}
h1{
    color: white;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
}